<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
          <ion-menu-button>
    
          </ion-menu-button>
        </ion-buttons>
    <ion-title>Selection Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" color="medium">

    <ion-card [routerLink]="'/freerun'" routerDirection="'root'" color="light">
      <img src="../../assets/icon/solorun.jpg"/>
      <div class="card-title">Solo Run</div>
      <div class="card-subtitle">Run Alone you fucking donkey</div>
    </ion-card>
  
    <ion-card [routerLink]="'/ghostrun'" routerDirection="'root'" color="light">
      <img src="../../assets/icon/ghostrun.jpg"/>
      <div class="card-title">Ghost Run</div>
      <div class="card-subtitle">Practice for the purge with the new addition to the Dashboard family!</div>
    </ion-card>

  
  </ion-content>
