.app-dashboard {
    ion-fab-list{
        .fab-list-side-top{
            right: -17px;
        }
    }
    ion-icon{
        height:25px;
        width:25px;
    }   
    .fuck{
        position:fixed;
        height:1000px;
        width:1000px;
        right:25px;
    }
}